$red: rgb(37, 5, 5);
$header-height: 40px;
$toolbar-height: 40px;
$fomula-height: 34px;
$info-cell-width: 80px;
$db-header-height: 64px;
$row-heigth: 24px;
$cell-width:120px;
$border-color: #2c7ac4;
$green-color: #2eaf68;
$backgaround-color: rgb(236, 236, 236);
$grey-color: #9e9e9e;
$grey-color2: #c7c7c7;

