@import 'variabels';
@import 'mixins';

.exel__formula {
    position: absolute;
    right: 0;
    left: 0;
    top: $header-height+$toolbar-height;
    height: $fomula-height;
    border-bottom: 1px solid $grey-color;
    display: flex;
    justify-content: start;
    align-items: center;

    .info {
        font-size: 18px;
        font-style: italic;
        text-align: center;
        border-right: 1px solid $grey-color;
        min-width: $info-cell-width;
    }

    .input {
        justify-items: left;
        padding: 4px;
        font-size: 15px;
        outline: none;
        width: 100%;

    }
}